@use "@carbon/react/scss/type";
@use "@carbon/react/scss/colors";
@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/theme";

.navLink {
  outline: none !important;
  color: unset;
  text-decoration: none !important;
}

.sideNavItem:active .sideNavItem:focus {
  border-left: spacing.$spacing-02 solid theme.$link-primary;
  outline: none !important;
  background-color: theme.$layer-selected-01 !important;
  color: unset;
  text-decoration: none;
}

.sideNavItem {
  border-left: spacing.$spacing-02 solid transparent;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
  @include type.type-style("body-01");
}
